[Desktop Entry]
Type=Application
Exec=sh "$HOME/.kreminder/kreminder.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=Kreminder
Name=Kreminder
Comment[en_IN]=
Comment=
